DoctorAppointmentDesktopApp/Connected Services/DoctorHostService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DoctorAppointmentWebService" />
  <xs:element name="GetDoctors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DoctorAppointmentWebService" minOccurs="0" name="GetDoctorsResult" nillable="true" type="q1:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DoctorAppointmentWebService" minOccurs="0" name="GetDoctorByIdResult" nillable="true" type="q2:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DoctorAppointmentWebService" minOccurs="0" name="doctor" nillable="true" type="q3:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoctorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DoctorAppointmentWebService" minOccurs="0" name="doctor" nillable="true" type="q4:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoctorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDoctorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalDoctors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalDoctorsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>