DoctorAppointmentDesktopApp/DoctorAppointmentDesktopApp/Connected Services/PatientHostService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PatientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DoctorAppointmentWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPatientService_GetPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatients" />
  </wsdl:message>
  <wsdl:message name="IPatientService_GetPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientService_GetPatientById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientById" />
  </wsdl:message>
  <wsdl:message name="IPatientService_GetPatientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientService_AddPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPatient" />
  </wsdl:message>
  <wsdl:message name="IPatientService_AddPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientService_UpdatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatient" />
  </wsdl:message>
  <wsdl:message name="IPatientService_UpdatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientService_DeletePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatient" />
  </wsdl:message>
  <wsdl:message name="IPatientService_DeletePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientService_GetTotalPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalPatients" />
  </wsdl:message>
  <wsdl:message name="IPatientService_GetTotalPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalPatientsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPatientService">
    <wsdl:operation name="GetPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/GetPatients" message="tns:IPatientService_GetPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/GetPatientsResponse" message="tns:IPatientService_GetPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/GetPatientById" message="tns:IPatientService_GetPatientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/GetPatientByIdResponse" message="tns:IPatientService_GetPatientById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/AddPatient" message="tns:IPatientService_AddPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/AddPatientResponse" message="tns:IPatientService_AddPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/UpdatePatient" message="tns:IPatientService_UpdatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/UpdatePatientResponse" message="tns:IPatientService_UpdatePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/DeletePatient" message="tns:IPatientService_DeletePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/DeletePatientResponse" message="tns:IPatientService_DeletePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/GetTotalPatients" message="tns:IPatientService_GetTotalPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/GetTotalPatientsResponse" message="tns:IPatientService_GetTotalPatients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPatientService" type="tns:IPatientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatients">
      <soap:operation soapAction="http://tempuri.org/IPatientService/GetPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientById">
      <soap:operation soapAction="http://tempuri.org/IPatientService/GetPatientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <soap:operation soapAction="http://tempuri.org/IPatientService/AddPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap:operation soapAction="http://tempuri.org/IPatientService/UpdatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <soap:operation soapAction="http://tempuri.org/IPatientService/DeletePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalPatients">
      <soap:operation soapAction="http://tempuri.org/IPatientService/GetTotalPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientService">
    <wsdl:port name="BasicHttpBinding_IPatientService" binding="tns:BasicHttpBinding_IPatientService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DoctorAppointmentWebService/PatientService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>