DoctorAppointmentDesktopApp/DoctorAppointmentDesktopApp/Connected Services/DoctorHostService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DoctorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DoctorAppointmentWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDoctorService_GetDoctors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctors" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_GetDoctors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorsResponse" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_GetDoctorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorById" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_GetDoctorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_AddDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDoctor" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_AddDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_UpdateDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDoctor" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_UpdateDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_DeleteDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDoctor" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_DeleteDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_GetTotalDoctors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalDoctors" />
  </wsdl:message>
  <wsdl:message name="IDoctorService_GetTotalDoctors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalDoctorsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDoctorService">
    <wsdl:operation name="GetDoctors">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoctorService/GetDoctors" message="tns:IDoctorService_GetDoctors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoctorService/GetDoctorsResponse" message="tns:IDoctorService_GetDoctors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoctorService/GetDoctorById" message="tns:IDoctorService_GetDoctorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoctorService/GetDoctorByIdResponse" message="tns:IDoctorService_GetDoctorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoctorService/AddDoctor" message="tns:IDoctorService_AddDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoctorService/AddDoctorResponse" message="tns:IDoctorService_AddDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoctorService/UpdateDoctor" message="tns:IDoctorService_UpdateDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoctorService/UpdateDoctorResponse" message="tns:IDoctorService_UpdateDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoctorService/DeleteDoctor" message="tns:IDoctorService_DeleteDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoctorService/DeleteDoctorResponse" message="tns:IDoctorService_DeleteDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalDoctors">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoctorService/GetTotalDoctors" message="tns:IDoctorService_GetTotalDoctors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoctorService/GetTotalDoctorsResponse" message="tns:IDoctorService_GetTotalDoctors_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDoctorService" type="tns:IDoctorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDoctors">
      <soap:operation soapAction="http://tempuri.org/IDoctorService/GetDoctors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorById">
      <soap:operation soapAction="http://tempuri.org/IDoctorService/GetDoctorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDoctor">
      <soap:operation soapAction="http://tempuri.org/IDoctorService/AddDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDoctor">
      <soap:operation soapAction="http://tempuri.org/IDoctorService/UpdateDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDoctor">
      <soap:operation soapAction="http://tempuri.org/IDoctorService/DeleteDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalDoctors">
      <soap:operation soapAction="http://tempuri.org/IDoctorService/GetTotalDoctors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DoctorService">
    <wsdl:port name="BasicHttpBinding_IDoctorService" binding="tns:BasicHttpBinding_IDoctorService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DoctorAppointmentWebService/DoctorService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>